/* Components */
/* Variable, Mixin, and Helpers */
/* Core */
/* Helpers */
html,
body {
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Typography */
body {
  font-family: "Libre Baskerville", serif;
  font-size: 16;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
.menu-button-holder {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700; }

/* Basic Spacing */
section,
footer {
  margin-top: 50px; }
  @media (min-width: 640px) {
    section,
    footer {
      margin-top: 100px; } }

.container {
  min-height: 100vh;
  margin: 20px 20px 0px 20px; }
  @media (min-width: 640px) {
    .container {
      margin: 50px 50px 0px 50px; } }

/* Section Flex */
/* TODO: check hr styling, might be a box white middle */
.hr-section {
  height: 2px;
  background-color: #b4b8bf;
  margin-bottom: 10px;
  padding: 0;
  border: none; }
  @media (min-width: 640px) {
    .hr-section {
      margin-bottom: 15px; } }

.hr-inside {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }

.core-section-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .core-section-flex .content-holder {
    width: 100%; }
    @media (min-width: 640px) {
      .core-section-flex .content-holder {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; } }
  .core-section-flex .border-right {
    border-right: solid #b4b8bf 2px; }
  .core-section-flex .border-left {
    border-left: solid #b4b8bf 2px; }

.section-header {
  width: 100%; }
  @media (min-width: 640px) {
    .section-header {
      width: 6.2%; } }
  .section-header.border {
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    border-bottom: solid #b4b8bf 2px; }
    @media (min-width: 640px) {
      .section-header.border {
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 0;
        border-right: solid #b4b8bf 2px;
        border-bottom: none; } }
  .section-header .text-holder {
    width: 100%;
    height: 100%;
    position: relative; }
  .section-header .text {
    margin-top: 0px;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    color: #00539b; }
    @media (min-width: 640px) {
      .section-header .text {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        position: absolute;
        top: 0;
        right: 50%; } }

.section-link {
  width: 55%;
  margin: auto; }
  @media (min-width: 640px) {
    .section-link {
      width: 6.2%;
      margin: 0; } }
  .section-link.border {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-top: solid #b4b8bf 2px;
    text-align: center; }
    @media (min-width: 640px) {
      .section-link.border {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-left: solid #b4b8bf 2px;
        border-top: none;
        text-align: inherit; } }
  .section-link .text-holder {
    width: 100%;
    height: 100%;
    position: relative; }
    .section-link .text-holder .link-text {
      margin-bottom: 20px;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 11px;
      font-family: "Libre Franklin", sans-serif;
      font-weight: 600;
      color: #00539b; }
      @media (min-width: 640px) {
        .section-link .text-holder .link-text {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transform-origin: right center;
          -ms-transform-origin: right center;
          transform-origin: right center;
          position: absolute;
          bottom: 0;
          right: 50%; } }
      .section-link .text-holder .link-text a:link,
      .section-link .text-holder .link-text a:visited {
        color: #00539b;
        text-decoration: none; }

/* Square */
.square-container {
  margin: auto;
  padding: 0 0; }

.square {
  position: relative; }
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .square .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .square .content div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      vertical-align: middle; }
    .square .content img {
      margin: 0 auto;
      text-align: center;
      vertical-align: middle; }
    .square .content img.horizontal {
      width: 100%; }
    .square .content img.vertical {
      height: 100%;
      margin: 0; }

/* TODO: control border with nth child for media quires */
.right-box-border {
  border-right: solid 2px #b4b8bf; }

/* Overlay */
/* Menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100.1%;
  top: 0;
  left: 0;
  background: #00539b;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  /* transition: transform 0.4s ease-in-out, visibility 0s 0.4s; */
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
  .overlay .left-section {
    width: 13%; }
    @media (min-width: 640px) {
      .overlay .left-section {
        width: 6.2%; } }
  .overlay .right-section {
    width: 13%; }
    @media (min-width: 640px) {
      .overlay .right-section {
        width: 6.2%; } }

.overlay.open {
  opacity: 1;
  visibility: visible;
  /* transition: transform 0.4s ease-in-out; */
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }

/* TODO: prevent body from scrolling behind overlay */
body.open {
  /* overflow: hidden; */ }

.overlay ul,
.overlay li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.nav-container {
  padding: 50px;
  height: 100%; }

.nav-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-flex-container {
  width: 100%; }
  @media (min-width: 640px) {
    .nav-flex-container {
      width: 87.6%; } }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

nav ul {
  width: 100%; }
  @media (min-width: 640px) {
    nav ul {
      width: 50%; } }

.overlay li:not(:first-child) {
  border-top: solid 2px #ffffff; }

.overlay li {
  padding: 30px 0px; }

.overlay a:link,
.overlay a:visited {
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none; }
  @media (min-width: 640px) {
    .overlay a:link,
    .overlay a:visited {
      font-size: 60px; } }

/* Header */
#index-header .header-bg {
  height: 110vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center center; }

#index-header .darken {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#index-header .left-section {
  width: 8%; }
  @media (min-width: 640px) {
    #index-header .left-section {
      width: 6.2%; } }

#index-header .first-spacer {
  width: 30%; }
  @media (min-width: 640px) {
    #index-header .first-spacer {
      width: 17%; } }

#index-header .second-spacer {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media (min-width: 640px) {
    #index-header .second-spacer {
      margin-left: 30px; } }

#index-header .left-line {
  border-left: solid #b4b8bf 1px; }

#index-header .logo-holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#index-header .logo {
  padding-top: 200%;
  width: 85%; }
  @media (min-width: 640px) {
    #index-header .logo {
      padding-top: 100%;
      width: 66%; } }

#index-header .menu-section {
  width: 13%; }
  @media (min-width: 640px) {
    #index-header .menu-section {
      width: 6.2%; } }

/* Menu */
.menu-position-container {
  position: relative; }

.menu-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible; }
  @media (min-width: 640px) {
    .menu-button {
      width: 40px;
      height: 40px; } }

.hamburger-box {
  width: 25px;
  height: 30px;
  display: inline-block;
  position: relative; }
  @media (min-width: 640px) {
    .hamburger-box {
      width: 30px; } }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    @media (min-width: 640px) {
      .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
        width: 30px;
        height: 4px; } }
  .hamburger-inner:before, .hamburger-inner:after {
    content: "";
    display: block; }
  .hamburger-inner:before {
    top: -8px; }
    @media (min-width: 640px) {
      .hamburger-inner:before {
        top: -10px; } }
  .hamburger-inner:after {
    bottom: -8px; }
    @media (min-width: 640px) {
      .hamburger-inner:after {
        bottom: -10px; } }

.menu-button .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  -o-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .menu-button .hamburger-inner:before {
    -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .menu-button .hamburger-inner:after {
    -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.menu-button.open .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .menu-button.open .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .menu-button.open .hamburger-inner:after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.menu-button-holder {
  width: 100%;
  margin-top: 12%;
  text-align: center;
  position: absolute;
  z-index: 2000; }
  @media (min-width: 640px) {
    .menu-button-holder {
      margin-top: 20%; } }

.menu-text-container {
  display: none;
  width: 100%;
  position: relative; }
  @media (min-width: 640px) {
    .menu-text-container {
      display: inherit; } }
  .menu-text-container .position-text {
    margin-top: 20px;
    position: absolute;
    -webkit-transform: translateX(0%) translateY(100%) rotate(90deg);
    -ms-transform: translateX(0%) translateY(100%) rotate(90deg);
    transform: translateX(0%) translateY(100%) rotate(90deg);
    width: 100%; }
    .menu-text-container .position-text .menu-MENU-text {
      opacity: 1;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
    .menu-text-container .position-text .menu-MENU-text.open {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
    .menu-text-container .position-text .menu-CLOSE-text {
      opacity: 0;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
    .menu-text-container .position-text .menu-CLOSE-text.open {
      opacity: 1;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }

/* Footer */
/* Footer */
footer {
  padding: 30px 0;
  font-size: 12px;
  color: #ffffff;
  background-color: #84888f; }

footer ul,
footer li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.footer-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 640px) {
    .footer-flex {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

footer .content-holder {
  padding: 0 30px; }
  @media (min-width: 640px) {
    footer .content-holder {
      padding: 0 30px; } }

.footer-page-link {
  margin-top: 10px;
  width: 40%; }
  @media (min-width: 640px) {
    .footer-page-link {
      width: 20%; } }

.footer-bottom-link {
  width: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600; }
  @media (min-width: 640px) {
    .footer-bottom-link {
      width: 33.33%; } }

.footer-hr {
  margin: 20px 0;
  color: #e6eaf2; }

/* Pages */
/* Index Page */
/* Index About Section */
.index-about-hr {
  margin: auto;
  width: 55%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: #b4b8bf; }
  @media (min-width: 640px) {
    .index-about-hr {
      display: none; } }

.index-about-box {
  width: 50%;
  text-align: center;
  color: #84888f; }
  @media (min-width: 640px) {
    .index-about-box {
      width: 20%; } }
  .index-about-box:nth-of-type(2n + 1) {
    border-left: solid #b4b8bf 2px;
    border-right: solid #b4b8bf 2px; }
    @media (min-width: 640px) {
      .index-about-box:nth-of-type(2n + 1) {
        border-left: none;
        border-right: none; } }
  .index-about-box:nth-of-type(2n) {
    border-right: solid #b4b8bf 2px; }
    @media (min-width: 640px) {
      .index-about-box:nth-of-type(2n) {
        border-left: solid #b4b8bf 2px; } }
  .index-about-box:last-child {
    margin-top: -25px;
    border-left: none;
    border-right: none; }
    @media (min-width: 640px) {
      .index-about-box:last-child {
        margin-top: 0; } }
  .index-about-box .content {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 640px) {
      .index-about-box .content {
        padding: 30px; } }
  .index-about-box .stat {
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
    font-size: 23px;
    font-weight: 700; }
    @media (min-width: 640px) {
      .index-about-box .stat {
        font-size: 30px; } }
  .index-about-box .title {
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
    font-size: 15px;
    font-weight: 600; }
    @media (min-width: 640px) {
      .index-about-box .title {
        font-size: 20px; } }
  .index-about-box .img {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .index-about-box svg {
    height: 100%;
    width: 100%;
    fill: #84888f; }

/* Index Event Section */
.index-event-hr {
  margin: auto;
  width: 55%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: #b4b8bf; }
  @media (min-width: 640px) {
    .index-event-hr {
      display: none; } }

.index-event-box {
  width: 100%;
  height: auto; }
  @media (min-width: 640px) {
    .index-event-box {
      width: 33.33%;
      height: auto; }
      .index-event-box.border:nth-of-type(2n) {
        border-left: solid #b4b8bf 2px;
        border-right: solid #b4b8bf 2px; } }

.index-event-container {
  padding: 0 10px;
  margin: 0 0px;
  width: 100%;
  height: 100%; }
  @media (min-width: 640px) {
    .index-event-container {
      padding: 0 30px;
      margin: 15px 0; } }

.image-1 {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/event-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.image-2 {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/event-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.image-3 {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/event-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.text-container {
  margin-top: -13%;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  border-top: solid 2px #b4b8bf;
  border-left: solid 2px #b4b8bf;
  border-right: solid 2px #b4b8bf;
  background-color: #ffffff; }

.header {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700; }

.description {
  font-size: 14; }

.date {
  float: left;
  font-size: 12;
  font-style: italic; }

.link {
  float: right;
  text-align: right;
  font-size: 12;
  font-family: "Libre Franklin", sans-serif; }

/* Index Membership Section */
.index-membership-hr.mobile {
  margin: auto;
  width: 55%;
  height: 2px;
  margin: 10px 0px;
  border: none;
  background-color: #b4b8bf; }
  @media (min-width: 640px) {
    .index-membership-hr.mobile {
      display: none; } }

.index-membership-hr.desktop {
  display: none; }
  @media (min-width: 640px) {
    .index-membership-hr.desktop {
      display: inherit;
      width: 33%; }
      .index-membership-hr.desktop hr {
        width: 55%;
        height: 2px;
        margin: 10px auto;
        border: none;
        background-color: #b4b8bf; } }

.index-membership-box {
  width: 50%; }
  .index-membership-box.border:nth-child(3n+2) {
    border-left: solid #b4b8bf 2px; }
  @media (min-width: 640px) {
    .index-membership-box {
      width: 33.33%; }
      .index-membership-box.border:nth-child(3n+2) {
        border-left: none; }
      .index-membership-box.border:nth-of-type(2n) {
        border-left: solid #b4b8bf 2px;
        border-right: solid #b4b8bf 2px; } }

.index-membership-box .square {
  margin: 10px; }
  @media (min-width: 640px) {
    .index-membership-box .square {
      margin: 30px; } }

.index-membership-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #ffffff; }

.index-membership-image-1 {
  background-image: url(../img/cruises.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.index-membership-image-2 {
  background-image: url(../img/car-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.index-membership-image-3 {
  background-image: url(../img/caravan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.index-membership-image-4 {
  background-image: url(../img/track.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.index-membership-image-5 {
  background-image: url(../img/charities.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.index-membership-image-6 {
  background-image: url(../img/discounts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/* About Page */
/* Event Page */
/* Membership Page */
