/* Components */
/* Variable, Mixin, and Helpers */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/* Core */
/* Helpers */
html,
body {
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Typography */
body {
  font-family: 'Libre Baskerville', serif;
  font-size: 16;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
.menu-button-holder {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700; }

h1,
.h1 {
  font-size: 2.5rem; }

h2,
.h2 {
  font-size: 2rem; }

h3,
.h3 {
  font-size: 1.75rem; }

h4,
.h4 {
  font-size: 1.5rem; }

h5,
.h5 {
  font-size: 1.25rem; }

h6,
.h6 {
  font-size: 1rem; }

/* Basic Spacing */
section,
footer {
  margin-top: 50px; }
  @media (min-width: 768px) {
    section,
    footer {
      margin-top: 100px; } }

.container {
  min-height: 100vh;
  margin: 20px 20px 0px 20px; }
  @media (min-width: 768px) {
    .container {
      margin: 50px 50px 0px 50px; } }

/* Section Flex */
/* TODO: check hr styling, might be a box white middle */
.hr-section {
  height: 2px;
  background-color: #b4b8bf;
  margin-bottom: 10px;
  padding: 0;
  border: none; }
  @media (min-width: 768px) {
    .hr-section {
      margin-bottom: 15px; } }

.hr-inside {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }

.core-section-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .core-section-flex .content-holder {
    width: 100%; }
    @media (min-width: 768px) {
      .core-section-flex .content-holder {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; } }
  .core-section-flex .border-right {
    border-right: solid #b4b8bf 2px; }
  .core-section-flex .border-left {
    border-left: solid #b4b8bf 2px; }

section .core-section-flex {
  min-height: 300px; }

.section-header {
  width: 100%; }
  @media (min-width: 768px) {
    .section-header {
      width: 6.2%; } }
  .section-header.border {
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    border-bottom: solid #b4b8bf 2px; }
    @media (min-width: 768px) {
      .section-header.border {
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 0;
        border-right: solid #b4b8bf 2px;
        border-bottom: none; } }
  .section-header .text-holder {
    width: 100%;
    height: 100%;
    position: relative; }
  .section-header .text {
    margin-top: 0px;
    white-space: nowrap;
    font-size: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    color: #00539b; }
    @media (min-width: 768px) {
      .section-header .text {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        position: absolute;
        top: 0;
        right: 50%; } }

.section-link {
  width: 55%;
  margin: auto; }
  @media (min-width: 768px) {
    .section-link {
      width: 6.2%;
      margin: 0; } }
  .section-link.border {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-top: solid #b4b8bf 2px;
    text-align: center; }
    @media (min-width: 768px) {
      .section-link.border {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-left: solid #b4b8bf 2px;
        border-top: none;
        text-align: inherit; } }
  .section-link .text-holder {
    width: 100%;
    height: 100%;
    position: relative; }
    .section-link .text-holder .link-text {
      margin-bottom: 20px;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 11px;
      font-family: 'Libre Franklin', sans-serif;
      font-weight: 600;
      color: #00539b; }
      @media (min-width: 768px) {
        .section-link .text-holder .link-text {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transform-origin: right center;
          -ms-transform-origin: right center;
          transform-origin: right center;
          position: absolute;
          bottom: 0;
          right: 50%; } }
      .section-link .text-holder .link-text a:link,
      .section-link .text-holder .link-text a:visited {
        color: #00539b;
        text-decoration: none; }

/* Square */
.square-container {
  margin: auto;
  padding: 0 0; }

.square {
  position: relative; }
  .square:after {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .square .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .square .content div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      vertical-align: middle; }
    .square .content img {
      margin: 0 auto;
      text-align: center;
      vertical-align: middle; }
    .square .content img.horizontal {
      width: 100%; }
    .square .content img.vertical {
      height: 100%;
      margin: 0; }

/* TODO: control border with nth child for media quires */
.right-box-border {
  border-right: solid 2px #b4b8bf; }

/* Overlay */
/* Menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100.1%;
  top: 0;
  left: 0;
  background: #00539b;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  /* transition: transform 0.4s ease-in-out, visibility 0s 0.4s; */
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
  .overlay .left-section {
    width: 13%; }
    @media (min-width: 768px) {
      .overlay .left-section {
        width: 6.2%; } }
  .overlay .right-section {
    width: 13%; }
    @media (min-width: 768px) {
      .overlay .right-section {
        width: 6.2%; } }

.overlay.open {
  opacity: 1;
  visibility: visible;
  /* transition: transform 0.4s ease-in-out; */
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }

/* TODO: prevent body from scrolling behind overlay */
.overlay ul,
.overlay li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.nav-container {
  padding: 50px;
  height: 100%; }

.nav-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-flex-container {
  width: 100%; }
  @media (min-width: 768px) {
    .nav-flex-container {
      width: 87.6%; } }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

nav ul {
  width: 100%; }
  @media (min-width: 768px) {
    nav ul {
      width: 50%; } }

.overlay li:not(:first-child) {
  border-top: solid 2px #ffffff; }

.overlay li {
  padding: 30px 0px; }

.overlay a:link,
.overlay a:visited {
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none; }
  @media (min-width: 768px) {
    .overlay a:link,
    .overlay a:visited {
      font-size: 60px; } }

/* Header */
#index-header .header-bg {
  height: 110vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center center; }

#index-header .darken {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#index-header .left-section {
  width: 8%; }
  @media (min-width: 768px) {
    #index-header .left-section {
      width: 6.2%; } }

#index-header .first-spacer {
  width: 30%; }
  @media (min-width: 768px) {
    #index-header .first-spacer {
      width: 17%; } }

#index-header .second-spacer {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media (min-width: 768px) {
    #index-header .second-spacer {
      margin-left: 30px; } }

#index-header .left-line {
  border-left: solid #b4b8bf 1px; }

#index-header .logo-holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#index-header .logo {
  padding-top: 200%;
  width: 85%; }
  @media (min-width: 768px) {
    #index-header .logo {
      padding-top: 100%;
      width: 66%; } }

#index-header .menu-section {
  width: 13%; }
  @media (min-width: 768px) {
    #index-header .menu-section {
      width: 6.2%; } }

/* Page Header */
#page-header .header-bg {
  height: 20vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center center; }

#page-header .darken {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#page-header .left-section {
  width: 4%; }
  @media (min-width: 768px) {
    #page-header .left-section {
      width: 6.2%; } }

#page-header .first-spacer {
  width: 15%; }
  @media (min-width: 768px) {
    #page-header .first-spacer {
      width: 17%; } }

#page-header .second-spacer {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media (min-width: 768px) {
    #page-header .second-spacer {
      margin-left: 30px; } }

#page-header .left-line {
  border-left: solid #b4b8bf 1px; }

#page-header .logo-holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#page-header .logo {
  padding-top: 0%;
  width: 50%; }
  @media (min-width: 768px) {
    #page-header .logo {
      padding-top: 0%;
      width: 50%; } }

#page-header .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  font-family: 'Libre Franklin', sans-serif; }
  @media (min-width: 768px) {
    #page-header .page-title {
      font-size: 75px; } }

#page-header .menu-section {
  width: 13%; }
  @media (min-width: 768px) {
    #page-header .menu-section {
      width: 6.2%; } }

/* Menu */
.menu-position-container {
  position: relative; }

.menu-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible; }
  @media (min-width: 768px) {
    .menu-button {
      width: 40px;
      height: 40px; } }

.hamburger-box {
  width: 25px;
  height: 30px;
  display: inline-block;
  position: relative; }
  @media (min-width: 768px) {
    .hamburger-box {
      width: 30px; } }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    @media (min-width: 768px) {
      .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
        width: 30px;
        height: 4px; } }
  .hamburger-inner:before, .hamburger-inner:after {
    content: "";
    display: block; }
  .hamburger-inner:before {
    top: -8px; }
    @media (min-width: 768px) {
      .hamburger-inner:before {
        top: -10px; } }
  .hamburger-inner:after {
    bottom: -8px; }
    @media (min-width: 768px) {
      .hamburger-inner:after {
        bottom: -10px; } }

.menu-button .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  -o-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .menu-button .hamburger-inner:before {
    -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .menu-button .hamburger-inner:after {
    -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.menu-button.open .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .menu-button.open .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .menu-button.open .hamburger-inner:after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.menu-button-holder {
  width: 100%;
  margin-top: 12%;
  text-align: center;
  position: absolute;
  z-index: 2000; }
  @media (min-width: 768px) {
    .menu-button-holder {
      margin-top: 20%; } }

.menu-text-container {
  display: none;
  width: 100%;
  position: relative; }
  @media (min-width: 768px) {
    .menu-text-container {
      display: inherit; } }
  .menu-text-container .position-text {
    margin-top: 20px;
    position: absolute;
    -webkit-transform: translateX(0%) translateY(100%) rotate(90deg);
    -ms-transform: translateX(0%) translateY(100%) rotate(90deg);
    transform: translateX(0%) translateY(100%) rotate(90deg);
    width: 100%; }
    .menu-text-container .position-text .menu-MENU-text {
      opacity: 1;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
    .menu-text-container .position-text .menu-MENU-text.open {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
    .menu-text-container .position-text .menu-CLOSE-text {
      opacity: 0;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
    .menu-text-container .position-text .menu-CLOSE-text.open {
      opacity: 1;
      -webkit-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }

/* Footer */
/* Footer */
footer {
  padding: 30px 0;
  font-size: 12px;
  color: #ffffff;
  background-color: #84888f; }

footer ul,
footer li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.footer-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .footer-flex {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

footer .content-holder {
  padding: 0 30px; }
  @media (min-width: 768px) {
    footer .content-holder {
      padding: 0 30px; } }

.footer-page-link {
  margin-top: 10px;
  width: 40%; }
  @media (min-width: 768px) {
    .footer-page-link {
      width: 20%; } }

.footer-bottom-link {
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600; }
  @media (min-width: 768px) {
    .footer-bottom-link {
      width: 33.33%; } }

.footer-hr {
  margin: 20px 0;
  color: #e6eaf2; }

/* Pages */
/* Index Page */
#index-page {
  /* Index About Section */
  /* Index Event Section */
  /* Index Membership Section */ }
  #index-page .index-about-hr {
    margin: auto;
    width: 55%;
    height: 2px;
    margin: 40px 0px;
    border: none;
    background-color: #b4b8bf; }
    @media (min-width: 768px) {
      #index-page .index-about-hr {
        display: none; } }
  #index-page .index-about-box {
    width: 50%;
    text-align: center;
    color: #84888f; }
    @media (min-width: 768px) {
      #index-page .index-about-box {
        width: 20%; } }
    #index-page .index-about-box:nth-of-type(2n + 1) {
      border-left: solid #b4b8bf 2px;
      border-right: solid #b4b8bf 2px; }
      @media (min-width: 768px) {
        #index-page .index-about-box:nth-of-type(2n + 1) {
          border-left: none;
          border-right: none; } }
    #index-page .index-about-box:nth-of-type(2n) {
      border-right: solid #b4b8bf 2px; }
      @media (min-width: 768px) {
        #index-page .index-about-box:nth-of-type(2n) {
          border-left: solid #b4b8bf 2px; } }
    #index-page .index-about-box:last-child {
      margin-top: -25px;
      border-left: none;
      border-right: none; }
      @media (min-width: 768px) {
        #index-page .index-about-box:last-child {
          margin-top: 0; } }
    #index-page .index-about-box .content {
      padding: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (min-width: 768px) {
        #index-page .index-about-box .content {
          padding: 30px; } }
    #index-page .index-about-box .stat {
      width: 100%;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 23px;
      font-weight: 700; }
      @media (min-width: 768px) {
        #index-page .index-about-box .stat {
          font-size: 30px; } }
    #index-page .index-about-box .title {
      width: 100%;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 15px;
      font-weight: 600; }
      @media (min-width: 768px) {
        #index-page .index-about-box .title {
          font-size: 20px; } }
    #index-page .index-about-box .img {
      width: 100%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    #index-page .index-about-box svg {
      height: 100%;
      width: 100%;
      fill: #84888f; }
  #index-page .index-event-hr {
    margin: auto;
    width: 55%;
    height: 2px;
    margin: 40px 0px;
    border: none;
    background-color: #b4b8bf; }
    @media (min-width: 768px) {
      #index-page .index-event-hr {
        display: none; } }
  #index-page .index-event-box {
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      #index-page .index-event-box {
        width: 33.33%;
        height: auto; }
        #index-page .index-event-box.border:nth-of-type(2n) {
          border-left: solid #b4b8bf 2px;
          border-right: solid #b4b8bf 2px; } }
  #index-page .index-event-container {
    padding: 0 10px;
    margin: 0 0px;
    width: 100%;
    height: 100%; }
    @media (min-width: 768px) {
      #index-page .index-event-container {
        padding: 0 30px;
        margin: 15px 0; } }
  #index-page .image-1 {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 75%;
    background-image: url(../img/event-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .image-2 {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 75%;
    background-image: url(../img/event-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .image-3 {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 75%;
    background-image: url(../img/event-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .text-container {
    margin-top: -13%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-top: solid 2px #b4b8bf;
    border-left: solid 2px #b4b8bf;
    border-right: solid 2px #b4b8bf;
    background-color: #ffffff; }
  #index-page .header {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700; }
  #index-page .description {
    font-size: 14; }
  #index-page .date {
    float: left;
    font-size: 12;
    font-style: italic; }
  #index-page .link {
    float: right;
    text-align: right;
    font-size: 12;
    font-family: 'Libre Franklin', sans-serif; }
  #index-page .index-membership-hr.mobile {
    margin: auto;
    width: 55%;
    height: 2px;
    margin: 10px 0px;
    border: none;
    background-color: #b4b8bf; }
    @media (min-width: 768px) {
      #index-page .index-membership-hr.mobile {
        display: none; } }
  #index-page .index-membership-hr.desktop {
    display: none; }
    @media (min-width: 768px) {
      #index-page .index-membership-hr.desktop {
        display: inherit;
        width: 33%; }
        #index-page .index-membership-hr.desktop hr {
          width: 55%;
          height: 2px;
          margin: 10px auto;
          border: none;
          background-color: #b4b8bf; } }
  #index-page .index-membership-box {
    width: 50%; }
    #index-page .index-membership-box.border:nth-child(3n+2) {
      border-left: solid #b4b8bf 2px; }
    @media (min-width: 768px) {
      #index-page .index-membership-box {
        width: 33.33%; }
        #index-page .index-membership-box.border:nth-child(3n+2) {
          border-left: none; }
        #index-page .index-membership-box.border:nth-of-type(2n) {
          border-left: solid #b4b8bf 2px;
          border-right: solid #b4b8bf 2px; } }
  #index-page .index-membership-box .square {
    margin: 10px; }
    @media (min-width: 768px) {
      #index-page .index-membership-box .square {
        margin: 30px; } }
  #index-page .index-membership-box .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    color: #ffffff; }
  #index-page .index-membership-text {
    color: #00539b; }
  #index-page .index-membership-image-1 {
    background-image: url(../img/cruises.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .index-membership-image-2 {
    background-image: url(../img/car-shows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .index-membership-image-3 {
    background-image: url(../img/caravan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .index-membership-image-4 {
    background-image: url(../img/track.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .index-membership-image-5 {
    background-image: url(../img/charities.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #index-page .index-membership-image-6 {
    background-image: url(../img/discounts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

/* About Page */
#about-page .spacing {
  padding: 25px; }

#about-page #about-meetings .meetings-text {
  width: 100%; }
  @media (min-width: 768px) {
    #about-page #about-meetings .meetings-text {
      width: 33%; } }

#about-page #about-meetings .meetings-map {
  width: 100%; }
  @media (min-width: 768px) {
    #about-page #about-meetings .meetings-map {
      width: 67%; } }

#about-page #about-meetings .map {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0; }

#about-page #about-meetings .map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

#about-page #about-officers ul {
  margin: 0;
  padding: 0; }
  #about-page #about-officers ul .officer {
    width: 50%;
    text-align: center;
    list-style: none; }
    @media (min-width: 768px) {
      #about-page #about-officers ul .officer {
        width: 25%; } }
  #about-page #about-officers ul .img {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center center; }
  #about-page #about-officers ul .title {
    padding-top: 25px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 22px; }
  #about-page #about-officers ul .name {
    padding-top: 5px; }

#about-page #about-committees .core-section-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

#about-page #about-committees ul {
  margin: 0;
  padding: 0; }
  #about-page #about-committees ul li {
    margin: 0;
    padding: 0;
    height: 20px; }

#about-page #about-committees .committee {
  width: 45%;
  list-style: none;
  padding: 10px 0; }
  @media (min-width: 768px) {
    #about-page #about-committees .committee {
      width: 50%; } }

#about-page #about-committees .title {
  display: inline-block;
  width: 100%;
  float: left;
  font-family: 'Libre Franklin', sans-serif; }
  @media (min-width: 768px) {
    #about-page #about-committees .title {
      width: inherit; } }

#about-page #about-committees .name {
  display: inline-block;
  width: 100%;
  margin-left: 10px;
  white-space: nowrap; }
  @media (min-width: 768px) {
    #about-page #about-committees .name {
      width: inherit; } }

/* Event Page */
#events-page .event-hr {
  margin: auto;
  width: 55%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: #b4b8bf; }
  @media (min-width: 768px) {
    #events-page .event-hr {
      display: none; } }

#events-page .event-box {
  width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    #events-page .event-box {
      width: 33.33%;
      height: auto; }
      #events-page .event-box.border:nth-of-type(2n) {
        border-left: solid #b4b8bf 2px;
        border-right: solid #b4b8bf 2px; } }

#events-page .event-container {
  padding: 0 10px;
  margin: 0 0px;
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    #events-page .event-container {
      padding: 0 30px;
      margin: 15px 0; } }

#events-page .image-1 {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/event-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#events-page .image-2 {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/event-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#events-page .image-3 {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/event-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#events-page .text-container {
  margin-top: -13%;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  border-top: solid 2px #b4b8bf;
  border-left: solid 2px #b4b8bf;
  border-right: solid 2px #b4b8bf;
  background-color: #ffffff; }

#events-page .header {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700; }

#events-page .description {
  font-size: 14; }

#events-page .date {
  float: left;
  font-size: 12;
  font-style: italic; }

#events-page .link {
  float: right;
  text-align: right;
  font-size: 12;
  font-family: 'Libre Franklin', sans-serif; }

/* Membership Page */
#membership-page .membership-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#membership-page .membership-contact-hr {
  margin: auto;
  width: 100%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: #b4b8bf; }

#membership-page .membership-contact-type {
  width: 100%; }

#membership-page .membership-contact-info {
  width: 66%;
  float: left; }

#membership-page .membership-contact-first-half {
  width: 32%;
  float: left; }

#membership-page .membership-contact-second-half {
  width: 32%;
  float: left; }

#membership-page .membership-car-details {
  width: 32%; }

#membership-page .membership-additional {
  width: 66%;
  float: left; }

#membership-page .membership-interest {
  width: 33%; }

#membership-page .membership-contact-header {
  width: 100%; }

#membership-page .membership-input {
  width: 100%;
  padding-left: 10px;
  border-bottom: #00539b solid 2px;
  border-left: none;
  border-right: none;
  border-top: none; }

#membership-page .membership-type-radio {
  float: left;
  margin-right: 30px; }

/* Sponsors Page */
#sponsors-page .rect-container {
  margin: auto;
  padding: 0 0; }

#sponsors-page .rect {
  position: relative; }
  #sponsors-page .rect:after {
    content: "";
    display: block;
    padding-bottom: 50%; }
  #sponsors-page .rect .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #sponsors-page .rect .content div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      vertical-align: middle; }
    #sponsors-page .rect .content img {
      margin: 0 auto;
      text-align: center;
      vertical-align: middle; }
    #sponsors-page .rect .content img.horizontal {
      width: 100%; }
    #sponsors-page .rect .content img.vertical {
      height: 100%;
      margin: 0; }

#sponsors-page .sponsor-hr {
  margin: auto;
  width: 55%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: #b4b8bf; }
  @media (min-width: 768px) {
    #sponsors-page .sponsor-hr {
      display: none; } }

#sponsors-page .sponsor-box {
  width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    #sponsors-page .sponsor-box {
      width: 50%;
      height: auto; } }
  @media (min-width: 1024px) {
    #sponsors-page .sponsor-box {
      width: 40%;
      height: auto; } }
  @media (min-width: 1440px) {
    #sponsors-page .sponsor-box {
      width: 33.33%;
      height: auto; } }
  #sponsors-page .sponsor-box .card-header {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: 'Libre Franklin', sans-serif; }
  #sponsors-page .sponsor-box .text-container {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-top: solid 2px #b4b8bf;
    border-left: solid 2px #b4b8bf;
    border-right: solid 2px #b4b8bf;
    background-color: #ffffff; }

#sponsors-page .sponsor-container {
  margin: 0 0px;
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    #sponsors-page .sponsor-container {
      padding: 0 30px;
      margin: 15px 0; } }

#sponsors-page .sponsor-logo {
  content: "";
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #sponsors-page .sponsor-logo.courtesy-logo {
    background-image: url(../../img/sponsors/courtesy_nissan.jpeg); }
  #sponsors-page .sponsor-logo.grubbs-logo {
    background-image: url(../../img/sponsors/grubbs.jpg); }
  #sponsors-page .sponsor-logo.wireworks-logo {
    background-image: url(../../img/sponsors/wireworks.png); }
  #sponsors-page .sponsor-logo.jotech-logo {
    background-image: url(../../img/sponsors/jotech.png); }
  #sponsors-page .sponsor-logo.zcardepot-logo {
    background-image: url(../../img/sponsors/zcardepot.png); }

#for-sale-page .for-sale-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #for-sale-page .for-sale-item .title-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-bottom: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #for-sale-page .for-sale-item .title-container .title {
      width: 100%;
      font-size: 1.5rem;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-family: 'Libre Franklin', sans-serif; }
      @media (min-width: 768px) {
        #for-sale-page .for-sale-item .title-container .title {
          width: initial; } }
    #for-sale-page .for-sale-item .title-container .posted {
      font-size: 0.875rem;
      font-style: italic; }
      @media (min-width: 768px) {
        #for-sale-page .for-sale-item .title-container .posted {
          width: initial; } }
  #for-sale-page .for-sale-item .price {
    font-size: 1.25rem;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 5px; }
  #for-sale-page .for-sale-item .location {
    font-size: 1rem;
    margin-bottom: 5px; }
  #for-sale-page .for-sale-item .details {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 1024px) {
      #for-sale-page .for-sale-item .details {
        width: 66%; } }
    #for-sale-page .for-sale-item .details .description {
      height: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    #for-sale-page .for-sale-item .details .name {
      font-size: 1.125rem;
      font-family: 'Libre Franklin', sans-serif; }
    #for-sale-page .for-sale-item .details a {
      display: inline-block;
      color: black;
      text-decoration: none;
      clear: both; }
  #for-sale-page .for-sale-item .photos-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      #for-sale-page .for-sale-item .photos-container {
        width: 33%; } }
    #for-sale-page .for-sale-item .photos-container .single-photo {
      width: 50%; }
    #for-sale-page .for-sale-item .photos-container .photo-holder {
      padding: 10px; }
    #for-sale-page .for-sale-item .photos-container a {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%; }
    #for-sale-page .for-sale-item .photos-container img {
      width: auto;
      height: 100%; }

#for-sale-page .for-sale-hr {
  width: 100%;
  height: 2px;
  margin: 10px 20px;
  border: none;
  background-color: #b4b8bf; }

#for-sale-page .information {
  margin: 15px 10px; }

#for-sale-page .disclaimer {
  text-align: center;
  font-size: 0.75rem; }

#for-sale-page .submit-ad {
  padding-top: 10px;
  text-align: center;
  font-size: 0.75rem; }
