.section-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: solid 1px black;

  .title {
    border-right: solid 1px black;
    width: 10%;
  }
  .content {
    width: 100%;
    display: flex;
  }
  .link {
    border-left: solid 1px black;
    width: 10%;
  }
}
