/* Index Page */

/* Index About Section */

.index-about-box {
  width: 20%;
}

.index-about-box .square-container {
  width: 80%;
}

/* Index Event Section */
.index-event-box {
  width: 33.33%;
}

.index-event-box .square-container {
  width: 80%;
}

/* Index Membership Section */

.index-membership-box {
  width: 33.33%;
}

.index-membership-box .square-container {
  width: 80%;
}
