/* Membership Page */
#membership-page {
  
  .membership-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .membership-contact-hr {
    margin: auto;
    width: 100%;
    height: 2px;
    margin: 40px 0px;
    border: none;
    background-color: $gray;
  
    // @include medium {
    //   display: none;
    // }
  }
  
  .membership-contact-type {
    width: 100%
  }
  
  .membership-contact-info{
    width: 66%;
    float: left;
  }
  
  .membership-contact-first-half{
    width: 32%;
    float: left;
  }
  .membership-contact-second-half{
    width: 32%;
    float: left;
  }
  
  .membership-car-details {
    width: 32%;
  }
  
  .membership-additional{
    width: 66%;
    float: left;
  }
  
  .membership-interest {
    width: 33%;
  }
  
  .membership-contact-header{
    width: 100%;
  }
  
  .membership-input{
    width: 100%;
    padding-left: 10px;
    border-bottom: $blue solid 2px;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  
  .membership-type-radio{
    float: left;
    margin-right: 30px;
  }
}
