/* Membership Page */

.membership-sponsor-hr {
  margin: auto;
  width: 55%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: $gray;

  @include medium {
    display: none;
  }
}

.membership-sponsor-box {
  width: 100%;
  height: auto;

  @include medium {
    width: 25%;
    height: auto;

    // &.border:nth-of-type(2n) {
    //   border-left: solid $gray 2px;
    //   border-right: solid $gray 2px;
    // }
  }
  
  .card-header {
    font-size: 20px;
    @include frank;
    font-weight: 700;
  }
  
  .text-container {
    margin-top: -13%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    text-align: center;
    border-top: solid 2px $gray;
    border-left: solid 2px $gray;
    border-right: solid 2px $gray;
    background-color: $white;
  }
}

.membership-sponsor-container {
  padding: 0 10px;
  margin: 0 0px;
  width: 100%;
  height: 100%;

  @include medium {
    padding: 0 30px;
    margin: 15px 0;
  }
}



.sponsor-holder {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 75%;
  background-image: url(../img/sponsors/nissan_brand_logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.membership-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.membership-contact-hr {
  margin: auto;
  width: 100%;
  height: 2px;
  margin: 40px 0px;
  border: none;
  background-color: $gray;

  // @include medium {
  //   display: none;
  // }
}

.membership-contact-type {
  width: 100%
}

.membership-contact-info{
  width: 66%;
  float: left;
}

.membership-contact-first-half{
  width: 32%;
  float: left;
}
.membership-contact-second-half{
  width: 32%;
  float: left;
}

.membership-car-details {
  width: 32%;
}

.membership-additional{
  width: 66%;
  float: left;
}

.membership-interest {
  width: 33%;
}

.membership-contact-header{
  width: 100%;
}

.membership-input{
  width: 100%;
  padding-left: 10px;
  border-bottom: $blue solid 2px;
  border-left: none;
  border-right: none;
  border-top: none;
}

.membership-type-radio{
  float: left;
  margin-right: 30px;
}
