// todo rename square
.square {
  display: flex;
  flex: 1 1 auto;
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  // Facebook event ratio to what is shown not actual file size
  &.rect:after {
    content: '';
    display: block;
    padding-bottom: 52.4%;
  }

  .square-content {
    // TODO setup for responsive
    // padding: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
