footer {
  display: flex;
  padding: 1.875rem 0;
  color: $white;
  background-color: $darkgray;

  .spacer {
    content: '';
    width: $section-end-width-lg;
    height: 100%;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: white;
    text-decoration: none;
  }

  .footer-content {
    flex: 1 1 auto;

    .links-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.875rem;

      .link {
        width: 17%;
        flex: 1 1 auto;
        text-align: center;
      }
    }

    .contact-container {
      display: flex;
      padding-top: 1.875rem;
      margin-bottom: 1.875rem;
      border-top: solid 1px white;
      font-family: $franklin;

      div {
        width: 33%;
        flex: 1 1 auto;
        text-align: center;
      }

      .facebook a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .f-logo {
        height: 1rem;
        margin-right: 0.3125rem;
      }
    }

    .reserved {
      width: 100%;
      text-align: center;
      font-family: $franklin;
    }
  }
}

// footer ul,
// footer li {
//   padding: 0;
//   margin: 0;
//   list-style-type: none;
// }

// .footer-flex {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;

//   @include medium {
//     justify-content: flex-start;
//   }
// }

// footer .content-holder {
//   padding: 0 30px;

//   @include medium {
//     padding: 0 30px;
//   }
// }

// .footer-page-link {
//   margin-top: 10px;
//   width: 40%;

//   @include medium {
//     width: 20%;
//   }
// }

// .footer-bottom-link {
//   width: 100%;
//   @include frank;
//   font-weight: 600;

//   @include medium {
//     width: 33.33%;
//   }
// }

// .footer-hr {
//   margin: 20px 0;
//   color: $lightgray;
// }
