// Colors
$white: #ffffff !default;
$black: #000000 !default;
$lightgray: #e6eaf2 !default;
$gray: #b4b8bf !default;
$darkgray: #84888f !default;
$lightblue: #4e7fcc !default;
$blue: #00539b !default;
$darkblue: #002b6c !default;

// Sizes
$layout-spacing: 3.125rem;
$section-width-sm: 0;
$section-width-md: 0;
$section-width-lg: 6.2%;

// Responsive Widths
// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

// Fonts
$franklin: 'Libre Franklin', sans-serif;
$Baskerville: 'Libre Baskerville', serif;
// transition speed
$menuSpeed: 0.3s;
